@{
    ViewData["Title"] = "Home";
}
<div class="card">
    <h2>Welcome</h2>
    <p>Select your role to continue:</p>
    <div class="grid cols-3" style="margin-bottom:12px;">
        <a class="btn xl" asp-controller="Claims" asp-action="Index">Lecturer</a>
        <a class="btn xl" asp-controller="Reviews" asp-action="Verify">Programme Coordinator</a>
        <a class="btn xl" asp-controller="Reviews" asp-action="Approve">Academic Manager</a>
    </div>
    </div>


